*.a
*.o
*.swp
*Makefile
*Makefile.in
.deps/
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1
whitelist.c

resume
s2both
s2disk
s2ram
swap-offset
